#view{
    position: absolute;
    width: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
#label1 {
    top:    60px;
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
#label3 {
    position: absolute;
    top:    110px;
    left:   20%;
}
#text2 {
    position: absolute;
    top:    150px;
    left:   15%;
}
#calculate {
    position:absolute;
    top:    160px;
    left:   50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
#label4 {
    position: absolute;
    top:    200px;
    left:   20%;
}
#text3 {
    position: absolute;
    top:    240px;
    left:   20%;
}
#label5 {
    position: absolute;
    top:    200px;
    left:   40%;
}
#text4 {
    position: absolute;
    top:    240px;
    left:   40%;
}
#label6 {
    position: absolute;
    top:    200px;
    left:   60%;
}
#text5 {
    position: absolute;
    top:    240px;
    left:   60%;
}
